* text=auto

*.java text eol=lf
*.xml text
*.properties text

*.alp text
*.conf text

*.class binary
*.jar binary
*.war binary

Dockerfile text
*.yml text
*.yaml text
.dockerignore text
.gitignore text
.env text

*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf