
# AnyLogic Temporary & Cache Files
simulation/**/cache/
simulation/**/debug.log
~*.alp
*.alp.bak
Exported_*/
exported_model*/

# VSCode
*/.metadata/
*/.config/
*/.recommenders/
.vscode/
.vscode/settings.json

# Java & Maven
*.class
*.jar
*.war
**/target/

# Database Anylogic
database/*.lck
database/*.log
database/*.data
database/*.backup
database/*.properties
database/*.script

# LaTeX Documentation Files
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.fls
*.fdb_latexmk
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.lof
*.lot
*.lol
*.ilg
*.ind
*.idx
*.gz
report/*/*.pdf